<div>
  <h1>Raumverwaltung</h1>
  <mat-tab-group>
    <mat-tab label="Hinzufügen">
      <div class="tab">
        <br>
        <mat-radio-group [(ngModel)]="roomType"  class="roomtypeSelector">
          <mat-radio-button required value="HOTELROOM">Hotelzimmer</mat-radio-button>
          <mat-radio-button required value="CONFERENCEROOM" >Konferenzraum</mat-radio-button>
        </mat-radio-group>
        <br>
        <div>
          <mat-form-field class="halfInput" appearance="fill">
            <mat-label>Fläche in m²</mat-label>
            <input matInput type="number" min="1" name="areaInSqrMetre" [(ngModel)]="areaInSqrMetre" required>
          </mat-form-field>
          <mat-form-field class="halfInput" appearance="fill">
            <mat-label>Kategorie</mat-label>
            <mat-select *ngIf="roomType=='HOTELROOM'" [(ngModel)]="category" required>
              <mat-option *ngFor="let category of hotelRoomCategories | keyvalue"  value="{{category.key}}">{{category.value}}</mat-option>
            </mat-select>
            <mat-select *ngIf="roomType=='CONFERENCEROOM'" [(ngModel)]="category" required>
              <mat-option *ngFor="let category of conferenceRoomCategories | keyvalue"  value="{{category.key}}">{{category.value}}</mat-option>
            </mat-select>
            <mat-select *ngIf="!roomType" required>
              <mat-option value="" disabled>Keine Raumart gewählt</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <mat-form-field class="halfInput" appearance="fill" *ngIf="roomType">
              <mat-label *ngIf="roomType=='HOTELROOM'">Preis pro Nacht</mat-label>
              <mat-label *ngIf="roomType=='CONFERENCEROOM'">Preis pro Stunde</mat-label>
              <input matInput type="number" min="1" step="0.01" name="pricePerUnit" [(ngModel)]="pricePerUnit" required>
            </mat-form-field>
              <mat-form-field class="halfInput" appearance="fill" *ngIf="roomType=='HOTELROOM'">
                <mat-label>Anzahl Betten</mat-label>
                <input matInput type="number" min="1" name="bedCount" [(ngModel)]="bedCount" required>
              </mat-form-field>
              <mat-form-field class="halfInput" appearance="fill" *ngIf="roomType=='CONFERENCEROOM'">
                <mat-label>maximale Anzahl Teilnehmer</mat-label>
                <input matInput type="number" min="1" name="maxAmountOfParticipants" [(ngModel)]="maxAmountOfParticipants" required>
              </mat-form-field>
          </div>
          <div *ngIf="roomType=='CONFERENCEROOM'">
            <mat-form-field class="oneThirdInput" appearance="fill">
              <mat-label>Anzahl Whiteboards</mat-label>
              <input matInput type="number" [(ngModel)]="amountOfWhiteboards">
            </mat-form-field>
            <mat-form-field class="oneThirdInput" appearance="fill">
              <mat-label>Anzahl Beamer</mat-label>
              <input matInput type="number" [(ngModel)]="amountOfBeamer">
            </mat-form-field>
            <mat-form-field class="oneThirdInput" appearance="fill">
              <mat-label>Anzahl Bildschirme</mat-label>
              <input matInput type="number" [(ngModel)]="amountOfTV">
            </mat-form-field>
          </div>
          <div class="checkboxContainer" *ngIf="roomType=='HOTELROOM'">
              <mat-checkbox [(ngModel)]="hasSpeedLAN" [labelPosition]="labelPosition">Highspeed Internet vorhanden</mat-checkbox>
              <mat-checkbox [(ngModel)]="hasTV" [labelPosition]="labelPosition">Fernseher vorhanden</mat-checkbox>
              <mat-checkbox [(ngModel)]="hasKitchen" [labelPosition]="labelPosition">Küchenzeile vorhanden</mat-checkbox>
              <mat-checkbox [(ngModel)]="hasCoffeemaker" [labelPosition]="labelPosition">Kaffeemaschine vorhanden</mat-checkbox>
          </div>
          <div class="checkboxContainer" *ngIf="roomType=='CONFERENCEROOM'">
            <mat-checkbox [(ngModel)]="hasScreen" [labelPosition]="labelPosition">Projektionsfläche vorhanden</mat-checkbox>
            <mat-checkbox [(ngModel)]="hasComputer" [labelPosition]="labelPosition">Computer vorhanden</mat-checkbox>
          </div>
        </div>
        <br>
        <button mat-raised-button color="primary" type="submit" (click)="addOrUpdateRoom(true)">Absenden</button>
      </div>
    </mat-tab>


    <mat-tab label="Bearbeiten">
      <div class="tab">
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Raumnummer</mat-label>
          <input matInput type="number" min="1" [(ngModel)]="roomNo" required>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="loadRoomInfoToFormular()">Suchen</button> <!-- sollte Voraussetzung werden für die Aktivierung des restlicehn Formulars-->
        <br>
        <div *ngIf="foundRoom">
          <mat-radio-group [(ngModel)]="roomType"  class="roomtypeSelector">
            <mat-radio-button required value="HOTELROOM" [checked]="!!foundHotelroom" [disabled]="true">Hotelzimmer</mat-radio-button>
            <mat-radio-button required value="CONFERENCEROOM" [checked]="!!foundConferenceroom" [disabled]="true">Konferenzraum</mat-radio-button>
          </mat-radio-group>
          <br>
          <div>
            <mat-form-field class="halfInput" appearance="fill">
              <mat-label>Fläche in m²</mat-label>
              <input matInput type="number" min="1" name="areaInSqrMetre" value="{{areaInSqrMetre}}" [(ngModel)]="areaInSqrMetre" required>
            </mat-form-field>
            <mat-form-field class="halfInput" appearance="fill">
              <mat-label>Kategorie</mat-label>
              <mat-select *ngIf="roomType=='HOTELROOM'" [(ngModel)]="category" value="{{category}}" required>
                <mat-option *ngFor="let category of hotelRoomCategories | keyvalue"  value="{{category.key}}">{{category.value}}</mat-option>
              </mat-select>
              <mat-select *ngIf="roomType=='CONFERENCEROOM'" [(ngModel)]="category" value="{{category}}" required>
                <mat-option *ngFor="let category of conferenceRoomCategories | keyvalue"  value="{{category.key}}">{{category.value}}</mat-option>
              </mat-select>
              <mat-select *ngIf="!roomType" required>
                <mat-option value="" disabled>Keine Raumart gewählt</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <mat-form-field class="halfInput" appearance="fill" *ngIf="roomType">
                <mat-label *ngIf="roomType=='HOTELROOM'">Preis pro Nacht</mat-label>
                <mat-label *ngIf="roomType=='CONFERENCEROOM'">Preis pro Stunde</mat-label>
                <input matInput type="number" min="1" step="0.01" name="pricePerUnit" value="{{pricePerUnit}}" [(ngModel)]="pricePerUnit" required>
              </mat-form-field>
              <mat-form-field class="halfInput" appearance="fill" *ngIf="roomType=='HOTELROOM'">
                <mat-label>Anzahl Betten</mat-label>
                <input matInput type="number" min="1" name="bedCount" [(ngModel)]="bedCount" value="{{bedCount}}" required>
              </mat-form-field>
              <mat-form-field class="halfInput" appearance="fill" *ngIf="roomType=='CONFERENCEROOM'">
                <mat-label>maximale Anzahl Teilnehmer</mat-label>
                <input matInput type="number" min="1" name="maxAmountOfParticipants" [(ngModel)]="maxAmountOfParticipants"  value="{{maxAmountOfParticipants}}" required>
              </mat-form-field>
            </div>
            <div *ngIf="roomType=='CONFERENCEROOM'">
              <mat-form-field class="oneThirdInput" appearance="fill">
                <mat-label>Anzahl Whiteboards</mat-label>
                <input matInput type="number" [(ngModel)]="amountOfWhiteboards" value="{{amountOfWhiteboards}}">
              </mat-form-field>
              <mat-form-field class="oneThirdInput" appearance="fill">
                <mat-label>Anzahl Beamer</mat-label>
                <input matInput type="number" [(ngModel)]="amountOfBeamer" value="{{amountOfBeamer}}">
              </mat-form-field>
              <mat-form-field class="oneThirdInput" appearance="fill">
                <mat-label>Anzahl Bildschirme</mat-label>
                <input matInput type="number" [(ngModel)]="amountOfTV" value="{{amountOfTV}}">
              </mat-form-field>
            </div>
            <div class="checkboxContainer" *ngIf="roomType=='HOTELROOM'">
              <mat-checkbox [(ngModel)]="hasSpeedLAN" [labelPosition]="labelPosition" [checked]="hasSpeedLAN">Highspeed Internet vorhanden</mat-checkbox>
              <mat-checkbox [(ngModel)]="hasTV" [labelPosition]="labelPosition" [checked]="hasTV">Fernseher vorhanden</mat-checkbox>
              <mat-checkbox [(ngModel)]="hasKitchen" [labelPosition]="labelPosition" [checked]="hasKitchen">Küchenzeile vorhanden</mat-checkbox>
              <mat-checkbox [(ngModel)]="hasCoffeemaker" [labelPosition]="labelPosition" [checked]="hasCoffeemaker">Kaffeemaschine vorhanden</mat-checkbox>
            </div>
            <div class="checkboxContainer" *ngIf="roomType=='CONFERENCEROOM'">
              <mat-checkbox [(ngModel)]="hasScreen" [labelPosition]="labelPosition" [checked]="hasScreen">Projektionsfläche vorhanden</mat-checkbox>
              <mat-checkbox [(ngModel)]="hasComputer" [labelPosition]="labelPosition" [checked]="hasComputer">Computer vorhanden</mat-checkbox>
            </div>
          </div>
          <br>
        </div>
        <button mat-raised-button color="primary" type="submit" (click)="addOrUpdateRoom(false)">Absenden</button>
      </div>
    </mat-tab>







    <mat-tab label="Löschen">
      <div class="tab">
        <br>

        <br>
        <mat-form-field appearance="fill">
          <mat-label>Raumnummer</mat-label>
          <input matInput type="number" [(ngModel)]="roomNo"  required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" (click)="submitSearch()">Suchen</button>
        <br>
        <mat-card *ngIf="foundRoom">
          <mat-label>Raumnummer</mat-label>
          <mat-card-title>{{foundRoom.roomNo}}</mat-card-title>
          <mat-label>Rauminformationen</mat-label>
          <mat-card-content class="halfInput">
            <table class="table table-bordered table-striped">
              <tr>
                <td>Fläche in m²</td>
                <td>{{ foundRoom.areaInSqrMetre }}</td>
              </tr>
              <tr>
                <td>Raumart</td>
                <td *ngIf="foundHotelroom">Hotelzimmer</td>
                <td *ngIf="foundConferenceroom">Konferenzraum</td>
              </tr>
              <tr>
                <td>Kategorie</td>
                <td *ngIf="foundHotelroom">{{ hotelRoomCategories.get(foundRoom.category) }}</td>
                <td *ngIf="foundConferenceroom">{{ conferenceRoomCategories.get(foundRoom.category) }}</td>
              </tr>
              <tr *ngIf="foundHotelroom">
                <td>Preis pro Nacht</td>
                <td>{{ foundRoom.pricePerUnit }}</td>
              </tr>
              <tr *ngIf="foundConferenceroom">
                <td>Preis pro Stunde</td>
                <td>{{ foundRoom.pricePerUnit }}</td>
              </tr>
            </table>
            <table class="table table-bordered table-striped" *ngIf="foundHotelroom">
              <tr *ngFor="let attribute of hotelRoomAttributes | keyvalue">
                <td>{{attribute.key}}</td>
                <td>{{attribute.value}}</td>
              </tr>
            </table>
            <table class="table table-bordered table-striped" *ngIf="foundConferenceroom">
              <tr *ngFor="let attribute of conferenceRoomAttributes | keyvalue">
                <td>{{attribute.key}}</td>
                <td>{{attribute.value}}</td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
        <br>
        <mat-slide-toggle [(ngModel)]="isChecked" [disabled]="!foundRoom" >Freigeben</mat-slide-toggle> <!--Bestätigung zum Freigeben des Löschen, könnte auch als Pop-Up implementiert werden-->
        <button mat-raised-button color="primary" type="submit" [disabled]="!isChecked" (click)="deleteRoom()">Löschen</button>
      </div>
    </mat-tab>





    <mat-tab label="Anzeigen">
      <div class="tab">
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Raumnummer</mat-label>
          <input matInput type="number" [(ngModel)]="roomNo"  required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" (click)="submitSearch()">Suchen</button>
        <mat-card *ngIf="foundRoom">
          <mat-label>Raumnummer</mat-label>
          <mat-card-title>{{foundRoom.roomNo}}</mat-card-title>
          <mat-label>Rauminformationen</mat-label>
          <mat-card-content class="halfInput">
            <table class="table table-bordered table-striped">
              <tr>
                <td>Fläche in m²</td>
                <td>{{ foundRoom.areaInSqrMetre }}</td>
              </tr>
              <tr>
                <td>Raumart</td>
                <td *ngIf="foundHotelroom">Hotelzimmer</td>
                <td *ngIf="foundConferenceroom">Konferenzraum</td>
              </tr>
              <tr>
                <td>Kategorie</td>
                <td *ngIf="foundHotelroom">{{ hotelRoomCategories.get(foundRoom.category) }}</td>
                <td *ngIf="foundConferenceroom">{{ conferenceRoomCategories.get(foundRoom.category) }}</td>
              </tr>
              <tr *ngIf="foundHotelroom">
                <td>Preis pro Nacht</td>
                <td>{{ foundRoom.pricePerUnit }}</td>
              </tr>
              <tr *ngIf="foundConferenceroom">
                <td>Preis pro Stunde</td>
                <td>{{ foundRoom.pricePerUnit }}</td>
              </tr>
            </table>
            <table class="table table-bordered table-striped" *ngIf="foundHotelroom">
                <tr *ngFor="let attribute of hotelRoomAttributes | keyvalue">
                  <td>{{attribute.key}}</td>
                  <td>{{attribute.value}}</td>
                </tr>
            </table>
            <table class="table table-bordered table-striped" *ngIf="foundConferenceroom">
              <tr *ngFor="let attribute of conferenceRoomAttributes | keyvalue">
                <td>{{attribute.key}}</td>
                <td>{{attribute.value}}</td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
