/* You can add global styles to this file, and also import other style files */


//@import "../node_modules/bootstrap/scss/functions";
//@import "../node_modules/bootstrap/scss/variables";
//@import "../node_modules/bootstrap/scss/mixins";
@import "scss/var";
@import "scss/custom";
@import '../node_modules/bootstrap/scss/bootstrap';
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0);
  border: 0;
  visibility: hidden;
}
//.custom-select {
//  -webkit-appearance:none;
//}

select {
-webkit-appearance: none;
-moz-appearance: none;
 appearance: none;

-moz-border-radius: 3px;
 -webkit-border-radius: 3px;

}

// custom datePicker size




//@import "scss/custom.scss";

//$primary: rgb(33, 37, 41);
//$secondary: #343a40;
//$success: #343a40;
//$info: #343a40;
//$warning: #343a40;
//$danger: #343a40;
//$light: #343a40;
//$dark: #343a40;

//.bg-primary {
//  background-color: $primary !imp ortant;
//  color: $primary !important;
//}

//.btn-primary {
//  background-color: rgba(155, 0, 0, 1) !important;
//  border-color: rgba(155, 0, 0, 1) !important;
//}

//.nav-pills .nav-item .nav-link:is(.active) {
//  background-color: rgba(155, 0, 0, 1);
//  //background-color: rgba(255, 195, 0, 0.8);
//  //background-color: #0dcaf0;
//}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
