
<!--<div class="booking-view">-->
<!--  <div class="card">-->
<!--    <h4 class="card-header">{{selectedRoom.roomType + " - " + selectedRoom.category}}</h4>-->
<!--    <div class="card-body">-->

<!--      <form class="form-inline">-->
<!--        <div class="booking-details">-->
<!--          <label>{{pricesLabel + ": " +selectedRoom.pricePerUnit + "" + currency}}</label>-->
<!--          <br>-->
<!--          <label>{{"Fläche : " +selectedRoom.areaInSqrMetre + "qm"}}</label>-->
<!--        </div>-->
<!--        <div class="date-group">-->
<!--          <div class="date-picker">-->
<!--            <p>Example of the range selection</p>-->

<!--            <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">-->
<!--            </ngb-datepicker>-->

<!--            <ng-template #t let-date let-focused="focused">-->
<!--              <span class="custom-day"-->
<!--                    [class.focused]="focused"-->
<!--                    [class.range]="isRange(date)"-->
<!--                    [class.faded]="isHovered(date) || isInside(date)"-->
<!--                    (mouseenter)="hoveredDate = date"-->
<!--                    (mouseleave)="hoveredDate = null">-->
<!--                {{ date.day }}-->
<!--              </span>-->
<!--            </ng-template>-->

<!--            <hr>-->

<!--            <pre>From: {{ fromDate | json }} </pre>-->
<!--            <pre>To: {{ toDate | json }} </pre>-->
<!--          </div>-->
<!--&lt;!&ndash;          <br>&ndash;&gt;-->
<!--          <div class="time-picker">-->
<!--            <ngb-timepicker [(ngModel)]="time" [seconds]="true"-->
<!--                            [hourStep]="hourStep" [minuteStep]="minuteStep" [secondStep]="secondStep"></ngb-timepicker>-->

<!--            <div class="row">-->
<!--              <div class="col-sm-3">-->
<!--                <label for="changeHourStep">Hour Step</label>-->
<!--                <input id="changeHourStep" type="number" class="form-control form-control-sm" [(ngModel)]="hourStep" />-->
<!--              </div>-->
<!--              <div class="col-sm-3">-->
<!--                <label for="changeMinuteStep">Minute Step</label>-->
<!--                <input id="changeMinuteStep" type="number" class="form-control form-control-sm" [(ngModel)]="minuteStep" />-->
<!--              </div>-->
<!--              <div class="col-sm-3">-->
<!--                <label for="changeSecondStep">Second Step</label>-->
<!--                <input id="changeSecondStep" type="number" class="form-control form-control-sm" [(ngModel)]="secondStep" />-->
<!--              </div>-->
<!--            </div>-->
<!--            <hr>-->
<!--            <pre>Selected time: {{time | json}}</pre>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->

<!--&lt;!&ndash;      <hr/>&ndash;&gt;-->
<!--&lt;!&ndash;      <pre>Model: {{ model | json }}</pre>&ndash;&gt;-->
<!--&lt;!&ndash;      <br>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<ngb-timepicker [(ngModel)]="time"
                [hourStep]="hourStep" [minuteStep]="minuteStep">

</ngb-timepicker>

<!--<div class="row">-->
<!--  <div class="col-sm-3">-->
<!--    <label for="changeHourStep">Hour Step</label>-->
<!--    <input id="changeHourStep" type="number" class="form-control form-control-sm" [(ngModel)]="hourStep" />-->
<!--  </div>-->
<!--  <div class="col-sm-3">-->
<!--    <label for="changeMinuteStep">Minute Step</label>-->
<!--    <input id="changeMinuteStep" type="number" class="form-control form-control-sm" [(ngModel)]="minuteStep" />-->
<!--  </div>-->
<!--</div>-->
<hr>
<pre>Selected time: {{time | json}}</pre>

