


// gridLayout
.booking-view {
  padding: 22px;

  .form-inline {
    display: grid;
    grid-template-columns: 1fr 458px;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "booking-details date-group";
  }
  .date-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "date-picker"
    "time-picker";
    grid-area: date-group;
    float: right;
  }

  .date-picker {
    grid-area: date-picker;
    //margin-right: 0px;
    align-items: center;
  }

  .time-picker {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "start-time end-time";
    grid-area: time-picker;
  }
  .start-time {
    grid-area: start-time;
    //width: 120px;
    display: inline;
  }
  .end-time {
    grid-area: end-time;
    //width: 143px;
  }

  .booking-details {
    grid-area: booking-details;
    text-align: center;
    padding-right: 22px;
    margin-bottom: auto;
  }

  .btn {
    visibility: hidden;
  }

  .room-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }

}


// ngbDatePicker
.custom-day {
  text-align: center;
  padding: 0.15rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 10px;

}
//.custom-day.focused {
//  background-color: red;
//}
//.custom-day.range {
//  background-color: rgb(2, 117, 216);
//  color: white;
//}

.custom-day.single {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.rangeStart {
  background-color: rgb(2, 117, 216);
  color: white;
  border-radius: 10px 0 0 10px;
}

.custom-day.rangeEnd {
  background-color: rgb(2, 117, 216);
  color: white;
  border-radius: 0 10px 10px 0;
}

.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
  color: white;
  border-radius: 0;
}

.custom-day.unavailable {
  background-color: rgb(222, 50, 50, 0.4);
  color: white;
  border-radius: 0;
}



//.custom-day {
//  text-align: center;
//  padding: 0.185rem 0.25rem;
//  display: inline-block;
//  height: 2rem;
//  width: 2rem;
//}
//.custom-day.focused {
//  background-color: #e6e6e6;
//}
//
//.custom-day.single {
//  border-radius: 10px;
//}
//
//.custom-day.range {
//  background-color: rgb(2, 117, 216);
//  color: white;
//}
//
//.custom-day:hover {
//  background-color: rgb(2, 117, 216);
//  color: white;
//  border-radius: 10px;
//
//}
//.custom-day.faded {
//  background-color: rgba(2, 117, 216, 0.5);
//  border-radius: 0;
//}
//
//.custom-day.end {
//  background-color: rgb(2, 117, 216);
//  color: white;
//
//  border-radius: 0 10px 10px 0;
//}
//
//.custom-day.range.end {
//  background-color: rgb(2, 117, 216);
//  color: white;
//
//  border-radius: 0 10px 10px 0;
//}


//.day {
//  text-align: center;
//  padding: 7px;
//  border-radius: 1rem;
//  width: 100% !important;
//}

