.rooms-list {
  text-align: center;
}

.nav-tabs > li > a:hover{
  background-color: #303136 !important;
  border: medium none;
  border-radius: 0;
  color:#fff;
}

body{
  padding-top:50px;
  background-color:#34495e;
}



.hiddenRow {
  padding: 0 !important;
}
