<div class="pageContent">
  <h1>Kundenverwaltung</h1>
  <mat-tab-group>
    <mat-tab label="Hinzufügen">
      <div class="matTab">
        <div class="tab">
          <br>
          <mat-checkbox [(ngModel)]="isBusinessCustomer" [labelPosition]="labelPosition">Business-Kunde</mat-checkbox>
          <br>
          <div>
            <mat-form-field class="halfInput" appearance="fill">
              <mat-label>Vorname</mat-label>
              <input matInput type="text" name="firstName" [(ngModel)]="firstName" required>
            </mat-form-field>
            <mat-form-field class="halfInput" appearance="fill">
              <mat-label>Nachname</mat-label>
              <input matInput type="text" name="lastName" [(ngModel)]="lastName" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="threeQuarter" appearance="fill">
              <mat-label>Straße</mat-label>
              <input matInput type="text" name="streetName" [(ngModel)]="streetName" required>
            </mat-form-field>
            <mat-form-field class="oneQuarter" appearance="fill">
              <mat-label>Hausnummer</mat-label>
              <input matInput type="text" name="streetNumber" [(ngModel)]="streetNumber" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="halfInput" appearance="fill">
              <mat-label>PLZ</mat-label>
              <input matInput type="text" name="postalCode" [(ngModel)]="postalCode" required>
            </mat-form-field>
            <mat-form-field class="halfInput" appearance="fill">
              <mat-label>Stadt</mat-label>
              <input matInput type="text" name="cityName" [(ngModel)]="cityName" required>
            </mat-form-field>
          </div>
            <mat-form-field appearance="fill">
              <mat-label>Telefonnummer</mat-label>
              <input matInput type="tel" name="phone" [(ngModel)]="phone" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>E-Mail</mat-label>
              <input matInput type="email" name="mailAddress" [(ngModel)]="mailAddress" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Zahlungsmethode</mat-label>
              <mat-select  [(ngModel)]="paymentMethod" required>
                <mat-option *ngFor="let method of paymentMethods | keyvalue" value="{{method.key}}">{{method.value}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="paymentMethod && paymentMethod!='bill'" appearance="fill">
              <mat-label *ngIf="paymentMethod=='paypal'">PayPal-Adresse angeben:</mat-label>
              <mat-label *ngIf="paymentMethod=='debit'">IBAN-Adresse angeben:</mat-label>
              <input matInput type="text" name="paymentCredentials" [(ngModel)]="paymentCredentials" required>
            </mat-form-field>
            <br>

          <br>
          <button mat-raised-button color="primary" type="submit" (click)="addOrUpdateCustomerAndDetails(true)">Absenden</button>
        </div>
        <div class="notificationArea">
        <ngb-alert class="alert" #alert *ngFor="let alert of alerts"  [type]="alert.type" [dismissible]="false">{{alert.message}}</ngb-alert>
      </div>
      </div>
    </mat-tab>


    <mat-tab label="Bearbeiten">
      <div class="matTab">
        <div class="tab">
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Kundennummer</mat-label>
          <input matInput type="number" min="2" [(ngModel)]="customerID" required>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submitSearch(true)">Suchen</button> <!-- sollte Voraussetzung werden für die Aktivierung des restlicehn Formulars-->
        <br>
        <div *ngIf="foundCustomer" class="searchTab">
          <br>
          <mat-checkbox [(ngModel)]="isBusinessCustomer" [labelPosition]="labelPosition" [checked]="isBusinessCustomer">Business-Kunde</mat-checkbox>
          <br>
          <div>
            <mat-form-field class="halfInput" appearance="fill">
              <mat-label>Vorname</mat-label>
              <input matInput type="text" name="firstName" [(ngModel)]="firstName" required>
            </mat-form-field>
            <mat-form-field class="halfInput" appearance="fill">
              <mat-label>Nachname</mat-label>
              <input matInput type="text" name="lastName" [(ngModel)]="lastName" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="threeQuarter" appearance="fill">
              <mat-label>Straße</mat-label>
              <input matInput type="text" name="streetName" [(ngModel)]="streetName" required>
            </mat-form-field>
            <mat-form-field class="oneQuarter" appearance="fill">
              <mat-label>Hausnummer</mat-label>
              <input matInput type="text" name="streetNumber" [(ngModel)]="streetNumber" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="halfInput" appearance="fill">
              <mat-label>PLZ</mat-label>
              <input matInput type="text" name="postalCode" [(ngModel)]="postalCode" required>
            </mat-form-field>
            <mat-form-field class="halfInput" appearance="fill">
              <mat-label>Stadt</mat-label>
              <input matInput type="text" name="cityName" [(ngModel)]="cityName" required>
            </mat-form-field>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Telefonnummer</mat-label>
            <input matInput type="tel" name="phone" [(ngModel)]="phone" required>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>E-Mail</mat-label>
            <input matInput type="email" name="mailAddress" [(ngModel)]="mailAddress" required>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Zahlungsmethode</mat-label>
            <mat-select  [(ngModel)]="paymentMethod" required>
              <mat-option *ngFor="let method of paymentMethods | keyvalue" value="{{method.key}}">{{method.value}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="paymentMethod && paymentMethod!='bill'" appearance="fill">
            <mat-label *ngIf="paymentMethod=='paypal'">PayPal-Adresse angeben:</mat-label>
            <mat-label *ngIf="paymentMethod=='debit'">IBAN-Adresse angeben:</mat-label>
            <input matInput type="text" name="paymentCredentials" [(ngModel)]="paymentCredentials" required>
          </mat-form-field>
          <br>
          <div>
            <mat-form-field class="halfInput" appearance="fill">
              <mat-label>Passwort</mat-label>
              <input matInput type="password" name="password" [(ngModel)]="password" required>
            </mat-form-field>
            <mat-form-field class="halfInput" appearance="fill">
              <mat-label>Passwort wiederholen</mat-label>
              <input matInput type="password" name="repeatedPassword" [(ngModel)]="repeatedPassword" required>
            </mat-form-field>
          </div>
          <br>
          <button mat-raised-button color="primary" type="submit" (click)="addOrUpdateCustomerAndDetails(false)">Absenden</button>
        </div>
      </div>
        <div class="notificationArea">
          <ngb-alert class="alert" #alert *ngFor="let alert of alerts"  [type]="alert.type" [dismissible]="false">{{alert.message}}</ngb-alert>
        </div>
      </div>
    </mat-tab>







    <mat-tab label="Löschen">
      <div class="matTab">
        <div class="tab">
          <br>

          <br>
          <mat-form-field appearance="fill">
            <mat-label>Kundennummer</mat-label>
            <input matInput type="number" [min]="2" [(ngModel)]="customerID"  required>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" (click)="submitSearch(false)">Suchen</button>
          <br>
          <mat-card *ngIf="foundCustomer && foundContactData && foundAccountdetails">
            <mat-label>Kundennummer</mat-label>
            <mat-card-title>{{foundCustomer.customerID}}</mat-card-title>
            <mat-label>Kundeninformationen</mat-label>
            <mat-card-content>
              <table class="table table-bordered table-striped">
                <tr>
                  <th>Vorname</th>
                  <td>{{foundContactData.firstName}}</td>
                  <th>Nachname</th>
                  <td>{{foundContactData.lastName}}</td>
                </tr>
                <tr>
                  <th>Straße</th>
                  <td>{{foundContactData.streetName}}</td>
                  <th>Hausnummer</th>
                  <td>{{foundContactData.streetNumber}}</td>
                </tr>
                <tr>
                  <th>PLZ</th>
                  <td>{{foundContactData.postalCode}}</td>
                  <th>Stadt</th>
                  <td>{{foundContactData.cityName}}</td>
                </tr>
                <tr>
                  <th>Telefonnummer</th>
                  <td>{{foundContactData.phone}}</td>
                  <th>E-Mail</th>
                  <td>{{foundContactData.mailAddress}}</td>
                </tr>
                <tr>
                  <th>Zahlungsdaten</th>
                  <td>{{foundContactData.paymentCredentials}}</td>
                  <th>Zahlungsart</th>
                  <td>{{foundCustomer.paymentMethod?foundCustomer.paymentMethod:"Auf Rechnung"}}</td>
                </tr>
                <tr>
                  <th>Username (Login)</th>
                  <td>{{foundAccountdetails.username}}</td>
                  <th>Business-Kunde?</th>
                  <td>{{foundCustomer.isBusinessCustomer?"Ja":"Nein"}}</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
          <br>
          <mat-slide-toggle [(ngModel)]="isChecked" [disabled]="!foundCustomer" >Freigeben</mat-slide-toggle> <!--Bestätigung zum Freigeben des Löschen, könnte auch als Pop-Up implementiert werden-->
          <button mat-raised-button color="primary" type="submit" [disabled]="!isChecked" (click)="deleteCustomerAndDetails()">Löschen</button>
        </div>
        <div class="notificationArea">
            <ngb-alert class="alert" #alert *ngFor="let alert of alerts"  [type]="alert.type" [dismissible]="false">{{alert.message}}</ngb-alert>
          </div>
      </div>
    </mat-tab>





    <mat-tab label="Anzeigen">
      <div class="matTab">
        <div class="tab">
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Kundennummer</mat-label>
            <input matInput type="number" [min]="2" [(ngModel)]="customerID"  required>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" (click)="submitSearch(false)">Suchen</button>
          <mat-card *ngIf="foundCustomer && foundContactData && foundAccountdetails">
            <mat-label>Kundennummer</mat-label>
            <mat-card-title>{{foundCustomer.customerID}}</mat-card-title>
            <mat-label>Kundeninformationen</mat-label>
            <mat-card-content>
              <table class="table table-bordered table-striped">
                <tr>
                  <th>Vorname</th>
                  <td>{{foundContactData.firstName}}</td>
                  <th>Nachname</th>
                  <td>{{foundContactData.lastName}}</td>
                </tr>
                <tr>
                  <th>Straße</th>
                  <td>{{foundContactData.streetName}}</td>
                  <th>Hausnummer</th>
                  <td>{{foundContactData.streetNumber}}</td>
                </tr>
                <tr>
                  <th>PLZ</th>
                  <td>{{foundContactData.postalCode}}</td>
                  <th>Stadt</th>
                  <td>{{foundContactData.cityName}}</td>
                </tr>
                <tr>
                  <th>Telefonnummer</th>
                  <td>{{foundContactData.phone}}</td>
                  <th>E-Mail</th>
                  <td>{{foundContactData.mailAddress}}</td>
                </tr>
                <tr>
                  <th>Zahlungsdaten</th>
                  <td>{{foundContactData.paymentCredentials}}</td>
                  <th>Zahlungsart</th>
                  <td>{{foundCustomer.paymentMethod?foundCustomer.paymentMethod:"Auf Rechnung"}}</td>
                </tr>
                <tr>
                  <th>Username (Login)</th>
                  <td>{{foundAccountdetails.username}}</td>
                  <th>Business-Kunde?</th>
                  <td>{{foundCustomer.isBusinessCustomer?"Ja":"Nein"}}</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="notificationArea">
          <ngb-alert class="alert" #alert *ngFor="let alert of alerts"  [type]="alert.type" [dismissible]="false">{{alert.message}}</ngb-alert>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
