<div class = "container">
    <div class = "card">
        <h3 class="text-center">Raumliste</h3>
        <div class = "card-body">
            <table class = "table table-striped">
                <thead>
                    <th>RoomNo</th>
                    <th>RoomName</th>
                    <th>Quadratmeter</th>
                    <th>Kategorie</th>
                    <th>Preis pro Nacht</th>
                </thead>
                <tbody>
                    <tr *ngFor = "let room of rooms">
                        <td>{{ room.room_no}}</td>
                        <td>{{ room.room_name}}</td>
                        <td>{{ room.area_in_sqr_metre }}</td>
                        <td>{{ room.category }}</td>
                        <td>{{ room.price_per_unit }}</td>
                    </tr>


                </tbody>


            </table>

        </div>
    </div> 
</div>

room_no: number;
room_name: string;
area_in_sqr_metre: number;
category: string;
price_per_unit: number;