.rooms-list {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 44px;
}

.rooms-view {
  padding: 22px;
}

.hiddenRow {
  padding: 0 !important;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.col {
  padding: 22px;
}

.card {
  width: 286px;
  height: 302px;
}




h5 {
  display: inline;
}
h6 {
  display: inline;
}

