<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="hotelRoom-tab" data-bs-toggle="tab" data-bs-target="#hotelRoom" type="button" role="tab" aria-controls="home" aria-selected="true">Übernachtungszimmer</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="conferencRoom-tab" data-bs-toggle="tab" data-bs-target="#conferencRoom" type="button" role="tab" aria-controls="profile" aria-selected="false">Konferenzraum</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="test-tab" data-bs-toggle="tab" data-bs-target="#test" type="button" role="tab" aria-controls="profile" aria-selected="false">Test</button>
  </li>
</ul>

<div class="tab-content rooms-list" id="myTabContent">
  <div class="tab-pane fade show active" id="hotelRoom" role="tabpanel" aria-labelledby="home-tab">
    <div class="row" *ngFor = "let index of numberOfRowsOfHotelRooms; let rowIndex = index">
      <div class="col" *ngFor = "let index of numbersOfCols; let colIndex = index">
        <div class="card" style="width: 18rem;" *ngIf="hotelRooms.length > (colIndex + numbersOfCols.length * rowIndex)">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{getHotelRoom(colIndex + numbersOfCols.length * rowIndex).category}} </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="conferencRoom" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row" *ngFor = "let index of numberOfRowsOfConferenceRooms; let rowIndex = index">
      <div class="col" *ngFor = "let index of numbersOfCols; let colIndex = index">
        <div class="card" style="width: 18rem;" *ngIf="conferenceRooms.length > (colIndex + numbersOfCols.length * rowIndex)">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{getConferenceRoom(colIndex + numbersOfCols.length * rowIndex).category}} </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="test" role="tabpanel" aria-labelledby="profile-tab">

  </div>
</div>


