<div class = "container">
    <div class = "card">
        <h3 class="text-center">Mitarbeiter Testbereich</h3>
        <div class = "card-body">
            <table class = "table table-striped">
                <thead>

                    <th>EmpName</th>
                    <th>Rolle</th>
                    <th>accountID</th>

                </thead>
                <tbody>
<!--                    <tr *ngFor = "let employee of employeesData">-->
<!--                        <td>{{ employee._embedded}}</td>-->
<!--                        <td>{{ employee.page}}</td>-->
<!--&lt;!&ndash;                        <td>{{ employee.key}}</td>&ndash;&gt;-->

<!--                    </tr>-->

                    <tr *ngFor="let employee of employeesData">
                      <td>{{ employee.empName}}</td>
                      <td>{{ employee.givenRole}}</td>
                      <td>{{ employee.accountID}}</td>
                      <!--                        <td>{{ employee.key}}</td>-->

                    </tr>
                </tbody>


            </table>

<div>

<!--  ZEILE 2: {{employeesData| json}}-->

<!--    <tr *ngFor="let employee of employeesData._embedded.employee">-->

<!--      <td>{{employee.accountID}}</td>-->
<!--      <td>{{employee.givenRole}}<td>-->

<!--        <div *ngFor="let employee of employeesData">-->
<!--        ZEILE 1: <br> {{employee.key}}:{{employee.value}}-->
<!--        <hr>-->


<!--        <div *ngFor="let mitarbeiter of employee.value">-->

<!--          ZEILE 2:  {{mitarbeiter.key}}:{{mitarbeiter}}-->

<!--        </div>-->
<!--        <div>-->
<!--            Array key: {{employee.key}} and Array Value:{{employee.value}}-->
<!--        </div>-->


<!--      </tr>-->



</div>
        </div>
    </div>
</div>

