<div>
  <h1>Buchungsverwaltung</h1>
    <mat-tab-group>
      <mat-tab label="Hinzufügen">
        <div class="addTab">
          <br>
          <mat-radio-group [(ngModel)]="bookingType" (change)="getValidRooms()" class="bookingtypeSelector">
            <mat-radio-button required value="hotelRoom">Hotelzimmer</mat-radio-button><br>
            <mat-radio-button required value="conferenceRoom" >Konferenzraum</mat-radio-button>
          </mat-radio-group>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Kundennummer</mat-label>
            <input matInput type="number" name="customerID" (keyup)="setCustomerID($event)" required>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Raumnummer</mat-label>
            <mat-select  required >
              <mat-option *ngFor="let room of rooms" value="{{room.roomNo}}">{{room.roomNo}}</mat-option>
              <mat-option *ngIf="!rooms" value="" disabled>Keine Räume verfügbar</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <div>
            <mat-form-field class="halfInput" appearance="fill">
              <mat-label>Startdatum</mat-label>
              <input matInput type="date" (keyup)="setStartDate($event)" required>
            </mat-form-field>
            <mat-form-field class="halfInput" appearance="fill">
              <mat-label>Startzeit</mat-label>
              <input matInput type="time" (keyup)="setStartTime($event)"required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="halfInput" appearance="fill">
              <mat-label>Enddatum</mat-label>
              <input matInput type="date" (keyup)="setEndDate($event)" required>
            </mat-form-field>
            <mat-form-field class="halfInput" appearance="fill">
              <mat-label>Endzeit</mat-label>
              <input matInput type="time" (keyup)="setEndTime($event)"required>
            </mat-form-field>
          </div>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Kundenwünsche</mat-label>
            <textarea matInput type="text" (keyup)="setSpecialWishes($event)"></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" (click)="addBooking()">Absenden</button>
        </div>
      </mat-tab>
      <mat-tab label="Bearbeiten">
        <div class="addTab">
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Buchungsnummer</mat-label>
            <input matInput required>
          </mat-form-field>
          <button mat-raised-button color="primary" >Suchen</button> <!-- sollte Voraussetzung werden für die Aktivierung des restlicehn Formulars-->
          <br>
          <mat-radio-group>
            <mat-radio-button value="hotelRoom">Hotelzimmer</mat-radio-button>
            <mat-radio-button value="conferenceRoom">Konferenzraum</mat-radio-button>
          </mat-radio-group>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Kundennummer</mat-label>
            <input matInput required>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Raumnummer</mat-label> <!--am besten direkt nur mit gültigen Räumen füllen -->
            <mat-select required>
              <mat-option value="one">1</mat-option>
              <mat-option value="two">2</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Startdatum angeben</mat-label>
            <input matInput required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Startzeit wählen</mat-label>
            <input matInput required>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Enddatum wählen</mat-label>
            <input matInput required >
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Endzeit wählen</mat-label>
            <input matInput required>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Kundenwünsche</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary">Absenden</button>
        </div>
      </mat-tab>
      <mat-tab label="Löschen">
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Buchungsnummer</mat-label>
          <input matInput required>
        </mat-form-field>
        <button mat-raised-button color="primary" >Suchen</button> <!-- sollte Voraussetzung werden für die Aktivierung des restlichen Formulars-->
        <br>
        <mat-card> <!--Übersicht der Buchung vor dem Löschen-->
          <mat-card-title>Buchungsnummer</mat-card-title>
          <mat-card-content>Buchungsinformationen</mat-card-content>
        </mat-card>
        <mat-slide-toggle>Freigeben</mat-slide-toggle> <!--Bestätigung zum Freigeben des Löschen, könnte auch als Pop-Up implementiert werden-->
        <button mat-raised-button color="primary" disabled>Löschen</button>
      </mat-tab>
      <mat-tab label="Anzeigen">
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Buchungsnummer</mat-label>
          <input matInput type="number" (keyup)="setBookingNo($event)"  required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" (click)="submitSearch()">Suchen</button>
        <mat-card *ngIf="foundBooking">

          <mat-label>Buchungsnummer</mat-label>
          <mat-card-title>{{foundBooking.bookingNo}}</mat-card-title>
          <mat-label>Buchungsinformationen</mat-label>
          <mat-card-content>
            <table class="table table-bordered table-striped">
              <tr>
                <td>customerID</td>
                <td>{{ foundBooking.customerID }}</td>
              </tr>
              <tr>
                <td>empNo</td>
                <td>{{ foundBooking.empNo }}</td>
              </tr>
              <tr>
                <td>startDate</td>
                <td>{{ foundBooking.startDate }}</td>
              </tr>
              <tr>
                <td>endDate</td>
                <td>{{ foundBooking.endDate }}</td>
              </tr>
              <tr>
                <td>specialWishes</td>
                <td>{{ foundBooking.specialWishes }}</td>
              </tr>
              <tr>
                <td>pricing</td>
                <td>{{ foundBooking.pricing }}</td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
        <mat-card>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
          <tr>
            <th scope="col">bookingNo</th>
            <th scope="col">customerID</th>
            <th scope="col">empNo</th>
            <th scope="col">roomNo</th>
            <th scope="col">startDate</th>
            <th scope="col">endDate</th>
            <th scope="col">specialWishes</th>
            <th scope="col">pricing</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let booking of bookings">
              <td>{{ booking.bookingNo }}</td>
              <td>{{ booking.customerID }}</td>
              <td>{{ booking.empNo }}</td>
              <td>{{ booking.roomNo }}</td>
              <td>{{ booking.startDate }}</td>
              <td>{{ booking.endDate }}</td>
              <td>{{ booking.specialWishes }}</td>
              <td>{{ booking.pricing}}€</td>
            </tr>
          </tbody>
        </table>
        </mat-card>
      </mat-tab>
    </mat-tab-group>

</div>
