$base-color: #c6538c;

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

//            ,
//              "./node_modules/bootstrap/dist/css/bootstrap.min.css"
