<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="">BH Roommanager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav nav nav-pills ms-auto mb-2 mb-lg-0" id="pills-tab">

        <li class="nav-item" role="presentation" *ngIf="!isEmployee">
          <button routerLink="rooms" class="nav-link nav-item d-none d-sm-none d-md-none d-lg-block" id="pills-rooms-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"  aria-selected="true">Räume</button>
        </li>
        <li class="nav-item" role="presentation" *ngIf="isEmployee && isBookingManager">
          <button routerLink="management/booking" class="nav-link nav-item" id="pills-booking-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Buchungsverwaltung</button>
        </li>
        <li class="nav-item" role="presentation" *ngIf="isEmployee && isCustomerManager">
          <button routerLink="management/customer" class="nav-link nav-item" id="pills-customer-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Kundenverwaltung</button>
        </li>
        <li class="nav-item" role="presentation" *ngIf="isEmployee && isRoommangaer">
          <button routerLink="management/room" class="nav-link nav-item" id="pills-room-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Raumverwaltung</button>
        </li>
        <li class="nav-item" role="presentation" *ngIf="isEmployee && isEmployeeManager">
          <button routerLink="management/employee" class="nav-link nav-item" id="pills-employee-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Personalverwaltung</button>
        </li>
        <li class="nav-item" role="presentation" *ngIf="isEmployee && isEmployeeManager">
          <button routerLink="employees" class="nav-link nav-item" id="pills-employees-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Employee</button>
        </li>
        <li class="nav-item" role="presentation" *ngIf="isLoggedIn && !isEmployee">
          <button routerLink="bookings" class="nav-link nav-item" id="pills-bookings-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Buchungen</button>
        </li>
        <li class="nav-item" role="presentation" *ngIf="!isLoggedIn">
<!--          <a href="login" class="nav-link" id="pills-login-tab"  type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Login</a>-->
          <a class="nav-link nav-item" href="login">Login</a>
        </li>
        <li class="nav-item" role="presentation" *ngIf="isLoggedIn">
          <button (click)="logout()" class="nav-link nav-item" id="pills-logout-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>



<div ></div>
