<mat-toolbar class="topnav" color="primary">
    <a  routerLink=""><img class="bhRoomLogo" src="assets/bhlogo_transparentBackground.png" alt="Home"></a>
    <a routerLink="rooms">Räume</a>
    <a routerLink="login">Login</a>
    <a routerLink="management/booking">Buchungsverwaltung</a>
    <a routerLink="management/customer">Kundenverwaltung</a>
    <a routerLink="management/room">Raumverwaltung</a>
    <a routerLink="management/employee">Mitarbeiterverwaltung</a>
    <a routerLink="employees">Employee</a>
</mat-toolbar>
