a {
  color: white;
  text-decoration: none;
}





.nav-pills .nav-item {
  padding: 3px 8px;
}

//.topnav {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-around;
//  background-color: gray;
//  padding: 5px;
//  height: 50px;
//
//}

.bhRoomLogo{
  width:200px;
}
