a {
  color: white;
  text-decoration: none;
}



.nav-pills .nav-item .nav-link:is(.active) {
  background-color: rgba(255, 0, 0, 0.5);
}

.nav-pills .nav-item {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 3px;
  padding-top: 3px;
}

//.topnav {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-around;
//  background-color: gray;
//  padding: 5px;
//  height: 50px;
//
//}

.bhRoomLogo{
  width:200px;
}
